.navbar.navbar-default
  .container-fluid
    ul.nav.navbar-nav.navbar-right
      if user
        li
          a(href='/') Home
        li
          a(href='/new') New
        li
          a(href='/logout') Logged in as #{user}
      else
        li
          a(href='/') Home
        li
          a(href='/login') Login
        li
          a(href='/register') Register

