.navbar.navbar-default
  .container-fluid
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/') Home
      li
        a(href='/new') New
      li
        a(href='/login') Login
      li
        a(href='/register') Register
