body {
  background-color: orange;
}

.votebutton {
	display: inline-block;
	margin: 1rem;
}

.glyphicon {
	display: block;
	font-size: 4rem;
}

.story {
	margin: 2rem 0;
}

.story--div {
	width: 200px;
	height: 120px;
	display: inline-block;
	margin: 1rem;
}

.title {
	display: inline-block;
}

.title > a {
	font-size: 2rem;
	margin: 0 1rem;
	word-wrap: break-word;
}

.story--div > img {
	width: 100%;
	height: auto;
}

.upvote {
	display: inline-block;
	font-size: 2rem;
	width: 2rem;
}

/*@media (max-width: 900px) {
	span > a {
		
	}
}*/